/*This is my 201 CONTACT PAGE using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: optima, sans-serif;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
.section{
	/* background-color: rgb(227, 231, 232, 0.7); */
	display: flex;
	justify-content: center;
	padding: 0;
	width: 100%;
	margin: 3;
}
.section img{
	height: 250px;
	width: 100%;
}
.section h1{
	margin: 2;
	font-family: optima, sans-serif;
	font-weight: 300;
	font-style: italic;	
	font-size: 2.0em;
	text-align: left;
    line-height: 1.6em;
    color: black;
}
.section p{
	margin-right: 0;
	font-family: optima, sans-serif;
	font-weight: 200;
	font-style: normal;	
	font-size: 1.1em;
	text-align: left;
    color: black;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- Hello, my name is Nicole Arcolino and this is the beginning of my CONTACT PAGE CSS for 201 Digital Publishing, March 2022 ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0px 0px;
  margin: 0px auto 25px auto;
  background: url(index/indeximg/back_index.png) center center fixed no-repeat;
	background-size: cover;
	background-position: center;
	
	
}

.center {
    width: 800px;
	padding: 2%;
    margin: 100px auto;
 	background: rgb(227, 231, 232, 0.7); /*this uses opacity of 75% for the background color*/
	text-align: left;
}

   
#logo {
    margin-bottom: 16px;
	text-align: center;
}

h1 {
	font-family: optima, sans-serif;
	font-weight: 300;
	font-style: italic;	
	font-size: 2.0em;
	text-align: left;
    line-height: 1.6;
    color: black;
}


h2 {
	font-family: optima, sans-serif;
	font-weight: 500;
	font-style: bold;
	font-size: 3.1em;
	text-align: center;
    line-height: 1.4;
    color: black;
    padding: 0px 0px;
    margin: 0px auto 25px auto;
}

p {
	font-family: optima, sans-serif;
	font-weight: 200;
	font-style: normal;	
	font-size: 1.1em;
	text-align: left;
    line-height: 1.6;
    color: black;
}
    
nav{
	font-family: optima, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 1.2em;
    line-height: 1.2;
    color: black;
    padding: 0px 0px;
    margin: 0px auto 25px auto;
	border: solid black;
	border-width: 1px 0;
	text-align: center;
	margin-top: 2em;
}  

nav li{
	display: inline;

}

nav a{
	display: inline-block;
	padding: 10px;
	font-weight: bold;
}

a{
	color: black;
	text-decoration: underline;
	font-weight: normal;
}

a:hover{
	color:black;
	background: white;
}
  
.topnav {
	background-color: #ededed;
	overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	color: #333;
	text-align: center;
	font-family: optima, sans-serif;
	font-size: 1.6em;
	padding: 20px 20px;
	text-decoration: none;
	font-size: 17px;
	font-weight: bold;
}
	  
/* Change the color of links on hover */
.topnav a:hover {
	background-color: #ffffff;
	color: black;
}
	  
/* Add a color to the active/current link */
.topnav a.active {
	background-color: #79797a;
	color: white;
}